@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
	font-family: 'Rubik', sans-serif;
	@apply bg-slate-900 text-slate-200;
}

/* GENERAL */
.card {
	@apply border-2
	bg-slate-900 border-slate-800 rounded-md;
}
.section-title {
	@apply text-2xl text-center uppercase;
}
.input {
	@apply card w-full p-2 text-lg outline-none focus:border-slate-700 duration-300 placeholder:text-slate-500
	autofill:text-red-500
	read-only:bg-blue-500;
}
.button-hover {
	@apply hover:bg-slate-800 hover:text-slate-500 duration-300;
}
.button {
	@apply w-fit text-slate-400 button-hover;
}

/* NAVIGATION */
.nav-link {
	@apply py-3 px-5 mx-5 rounded-md hover:bg-slate-800 duration-300 cursor-pointer hover:text-slate-400;
}

/* PROJECTS */
.tech {
	@apply border py-1 px-3 rounded border-slate-700 text-slate-400;
}